table {

    font-family: courier, sans-serif;

    border-collapse: collapse;

    width: 100%;

}

 

td, th {

    border: 1px solid black;

    text-align: left;

    padding: 8px;

   

}

 

tr:nth-child(even) {

    background-color: #E9967A;

}